.addUser {
  background-color: rgba(17, 25, 40, 0.822);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  position: absolute;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2.5rem;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 50;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    input {
      background-color: #bad7ff;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 10px;
    }

    button {
      background-color: #5183fe;
      border: none;
      outline: none;
      padding: 1rem;
      border-radius: 10px;
      color: azure;
    }
  }

  .error {
    color: crimson;
    font-size: 1rem;
  }

  .user {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .detailUser {
      display: flex;
      align-items: center;
      gap: 1rem;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button {
      background-color: rgba(0, 24, 110, 0.8);
      border: none;
      outline: none;
      padding: 0.7rem;
      border-radius: 10px;
      color: azure;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
